@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Varent Grotesk Regular';
  src: url('./fonts/Varent_Grotesk_Regular.woff2') format('woff2'),
       url('./fonts/Varent_Grotesk_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Varent Grotesk Regular', sans-serif;
}


 body::-webkit-scrollbar {
  display: none;  
}
html {
  scroll-behavior: smooth; 
}
.text-outline {
    color: transparent;
    -webkit-text-stroke: 1px white;
  }


  
